.ds-dropdown-trigger {
  padding: 0;
}

.ds-dropdown-trigger-icon {
  display: inline-block;
  font-size: 20px;
  line-height: 1;
}

.ds-dropdown-item-danger {
  color: #f87171;
}

.ds-dropdown-item-disabled {
  opacity: 0.5;
  cursor: default;
}


